<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href = "/css/style.css">
</head>
<body>
    <header>
    <nav>
        <a href="/">home</a>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id = "logout-link">logout</button>
        {{else}}
        <a href="/dashboard">dashboard</a>
        <a href="/login">login</a>
        {{/if}}
    </nav>
    </header>
   
    <main>
    {{{body}}}
    </main>
{{#if loggedIn}}
<script src = "/js/logout.js"></script>
{{/if}}
</body>
</html>