<div class="post card">

  <form id="new-post-form" class="card-body">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <div>
    <div>
     <label class="form-label" for="post-title">Title</label>

    </div>
    <input type="text" name="post-title" class="form-input" />
  </div>
  <div>
    <div>
    <label class="form-label" for="post-body">Content</label>
    </div>
    <textarea name="post-body" class="form-input" cols="30" rows="10"></textarea>
  </div>    
    <button type="submit" class="btn">Create</button>
  </form>
</div>
<script src="/js/newpost.js"></script>